.dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  padding: 25px;
  background-color: whitesmoke;
  min-width: 350px;
}

.dialog-active {
  display: flex;
  justify-content: center;
  align-items: center;
}
